**1. CREAR BD**

In [1]:
IF EXISTS 
   (
     SELECT name
FROM master.dbo.sysdatabases
WHERE name = 'bichos_de_bolsillo'
    )
  DROP DATABASE bichos_de_bolsillo

GO

IF EXISTS (SELECT loginname FROM MASTER.dbo.syslogins 
       WHERE NAME = 'Administrador')
       DROP LOGIN Administrador

GO

IF EXISTS (SELECT loginname FROM MASTER.dbo.syslogins 
       WHERE NAME = 'Jugador')
       DROP LOGIN Jugador

GO

CREATE DATABASE bichos_de_bolsillo

GO

USE bichos_de_bolsillo

GO

**2. CREAR TABLAS**

In [ ]:
--Tabla Tipos
CREATE TABLE Tipos
(
    tipo_id INT PRIMARY KEY IDENTITY (1 , 1),
    tipo_nombre VARCHAR(20) NOT NULL,
    resistente VARCHAR(20)
)

--Tabla Especies
CREATE TABLE Especies
(
    especie_id INT PRIMARY KEY IDENTITY (1 , 1),
    especie_da単o_ataque INT NOT NULL,
    especie_velocidad_ataque INT NOT NULL,
    especie_nombre VARCHAR(20) NOT NULL,
    especie_aumento_salud INT NOT NULL,
    especie_tipo INT FOREIGN KEY REFERENCES Tipos(tipo_id)
)

--Tabla Usuarios
CREATE TABLE Usuarios
(
    usuario_id INT PRIMARY KEY IDENTITY (1,1),
    usuario_nombre VARCHAR(20) NOT NULL,
    usuario_correo VARCHAR(50) NOT NULL,
    usuario_contrase単a VARCHAR(20) NOT NULL,
    usuario_tipo VARCHAR(20) NOT NULL,
    usuario_estado BIT NOT NULL DEFAULT 1
)

--Tabla Catalogo de Ataques
CREATE TABLE Catalogo_Ataques
(
    catalogo_id INT PRIMARY KEY IDENTITY (1,1),
    catalogo_nombre VARCHAR(20) NOT NULL,
    catalogo_nivel INT NOT NULL,
    catalogo_tipo INT FOREIGN KEY REFERENCES Tipos(tipo_id)
)

--Tabla Bichos
CREATE TABLE Bichos
(
    bicho_id INT PRIMARY KEY IDENTITY (1,1),
    bicho_nombre VARCHAR(20) NOT NULL,
    bicho_salud INT DEFAULT 100,
    bicho_experiencia INT DEFAULT 1,
    bicho_nivel INT DEFAULT 1,
    bicho_tipo INT FOREIGN KEY REFERENCES Tipos(tipo_id),
    bicho_especie INT FOREIGN KEY REFERENCES Especies(especie_id),
    bicho_propietario INT FOREIGN KEY REFERENCES Usuarios(usuario_id) DEFAULT NULL
)

--Tabla Recolecciones
CREATE TABLE Recolecciones
(
    recoleccion_id INT IDENTITY PRIMARY KEY,
    recoleccion_bicho INT FOREIGN KEY REFERENCES Bichos(bicho_id),
    recoleccion_fecha DATE NOT NULL,
    recoleccion_usuario INT FOREIGN KEY REFERENCES Usuarios(usuario_id)
)

--Tabla Intercambios
CREATE TABLE Intercambios
(
    intercambio_id INT PRIMARY KEY IDENTITY (1,1),
    usuario_uno INT FOREIGN KEY REFERENCES Usuarios(usuario_id),
    usuario_dos INT FOREIGN KEY REFERENCES Usuarios(usuario_id),
    bicho_uno INT FOREIGN KEY REFERENCES Bichos(bicho_id),
    bicho_dos INT FOREIGN KEY REFERENCES Bichos(bicho_id),
    intercambio_fecha DATE NOT NULL
)

--Tabla Combates
CREATE TABLE Combates
(
    combate_id INT PRIMARY KEY IDENTITY (1,1),
    usuario_uno INT FOREIGN KEY REFERENCES Usuarios(usuario_id),
    usuario_dos INT FOREIGN KEY REFERENCES Usuarios(usuario_id),
    combate_fecha DATE NOT NULL,
    ganador INT NOT NULL DEFAULT -1
)

--Tabla de Rondas
CREATE TABLE Rondas
(
    ronda_noRonda INT IDENTITY (1,1),
    combate_id INT FOREIGN KEY REFERENCES Combates(combate_id),
    bicho_uno INT FOREIGN KEY REFERENCES Bichos(bicho_id),
    bicho_dos INT FOREIGN KEY REFERENCES Bichos(bicho_id),
    ataque_uno INT FOREIGN KEY REFERENCES Catalogo_Ataques(catalogo_id),
    ataque_dos INT FOREIGN KEY REFERENCES Catalogo_Ataques(catalogo_id),
    nivel_da単o_uno INT NOT NULL,
    nivel_da単o_dos INT NOT NULL,
    ganador INT NOT NULL DEFAULT -1 FOREIGN KEY REFERENCES Bichos(bicho_id)

        PRIMARY KEY (ronda_noRonda, combate_id)
)

--Tabla de Ataques de Bichos
CREATE TABLE Ataques_Bicho
(
    bicho_id INT FOREIGN KEY REFERENCES Bichos(bicho_id),
    ataque_id INT FOREIGN KEY REFERENCES Catalogo_Ataques(catalogo_id),

    PRIMARY KEY(bicho_id, ataque_id)
)

    CREATE CONSTRAINTS

In [ ]:
ALTER TABLE Usuarios ADD CONSTRAINT UsuariosConstraint UNIQUE (usuario_correo)

GO

ALTER TABLE Bichos ADD CONSTRAINT BichosConstraint UNIQUE (bicho_nombre)

GO

ALTER TABLE Catalogo_Ataques ADD CONSTRAINT AtaquesConstraint UNIQUE (catalogo_nombre)

GO

ALTER TABLE Tipos ADD CONSTRAINT TiposConstraint UNIQUE (tipo_nombre)

GO

ALTER TABLE Especies ADD CONSTRAINT EspeciesConstraint UNIQUE (especie_nombre)

GO